.wrapper {;
        display: grid;
        grid-template-columns: 18% 85%;
    }

    #d1 { 
        font-size: 20pt;
        background-color: #EFEBE9;
    }
    #d2 { font-size: 20pt;
        text-align: center;
    }

nav {
    float: top;
    font-family: 'Italiana', serif;
    font-size: 25px;
}

nav ul {
     margin: 0;
     padding: 30px;
     text-align: left;
}

nav li {
     list-style: none;
     padding: 5px;
     
}

nav li:hover {
    background: #D7CCC8;
}

a { color: #424242;
}

main { margin:0px;
  }

h1 { font-family: 'Italiana', serif;
font-size: 40px;
} 

p { font-family: 'Roboto', sans-serif;
font-size: 15px;
} 

 .wrapper {
        display: grid;
        grid-template-columns: 18% 85%;
    }

    #d1 {
        font-size: 20pt;
        background-color: #EFEBE9;
    }
    #d2 { font-size: 20pt;
        text-align: center;
    }

nav {
    float: top;
    font-family: 'Italiana', serif;
    font-size: 25px;
}

nav ul {
     margin: 0;
     padding: 30px;
     text-align: left;
}

nav li {
     list-style: none;
     padding: 5px;
     
}

nav li:hover {
    background: #D7CCC8;
}

a { color: #424242;
}

main { margin:0px;
  }

h1 { font-family: 'Italiana', serif;
font-size: 40px;
} 

p { font-family: 'Roboto', sans-serif;
font-size: 15px;
} 

.ok { text-align: left;
      margin-left: 440px;
} 

 .wrapper {
        display: grid;
        grid-template-columns: 18% 85%;
    }

    #d1 {
        font-size: 20pt;
        background-color: #EFEBE9;
    }
    #d2 { font-size: 20pt;
        text-align: center;
    }

nav {
    float: top;
    font-family: 'Italiana', serif;
    font-size: 25px;
}

nav ul {
     margin: 0;
     padding: 30px;
     text-align: left;
}

nav li {
     list-style: none;
     padding: 5px;
     
}

nav li:hover {
    background: #D7CCC8;
}

a { color: #424242;
}

main { margin:0px;
  }

h1 { font-family: 'Italiana', serif;
font-size: 40px;
} 

p { font-family: 'Roboto', sans-serif;
font-size: 15px;
} 


